@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');




:root{
    --border : 1px solid rgb(198, 198, 198);
    --radius : 5px;
    --main-color : rgb(38, 38, 38);
    --bg-color : white;
    --x-color : rgb(79, 122, 239);
    --o-color : rgb(228, 237, 108);
    --box-shadow-x : none;
    --box-shadow-o : none;
    --invite-bg-color : rgb(249, 249, 249);
    --invite-bg-color-hover : rgb(239, 239, 239);
    --toggle-color : rgb(38, 38, 38);
    --toggle-circle-color : white;
    --input-outline : 7px solid rgb(221, 238, 255);
    --input-bg-color : rgb(255, 255, 255);
    --input-bg-color-hover : rgb(255, 255, 255);
}

[color-scheme="dark"]{
    --bg-color : rgb(38, 38, 38);
    --main-color : white;
    --box-shadow-x : 0 0 30px var(--x-color),0 0 80px var(--x-color);
    --box-shadow-o : 0 0 30px var(--o-color),0 0 80px var(--o-color);
    --invite-bg-color : rgb(66, 66, 66);
    --invite-bg-color-hover : rgb(121, 121, 121);
    --toggle-color : white;
    --toggle-circle-color : rgb(38, 38, 38);
    --input-outline : 7px solid rgba(0, 208, 255, 0.199);
    --input-bg-color : rgb(67, 67, 67);
    --input-bg-color-hover : rgb(27, 27, 27);
}

[color-scheme="light"]{
    --bg-color : white;
    --main-color : rgb(38, 38, 38);
    --box-shadow-x : none;
    --box-shadow-o : none;
    --invite-bg-color : rgb(249, 249, 249);
    --invite-bg-color-hover : rgb(239, 239, 239);
    --toggle-color : rgb(38, 38, 38);
    --toggle-circle-color : white;
    --input-outline : 7px solid rgb(221, 238, 255);
    --input-bg-color : rgb(255, 255, 255);
    --input-bg-color-hover : rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: blue;
}
body{
    background-color: var(--bg-color);
}
/* UNIVERSAL STYLE */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
.cap{
    text-transform: capitalize;
}
.upper{
    text-transform: uppercase;
}
.btn{
    padding: 10px 20px;
    background-color: white;
    border-radius: var(--radius);
    width: fit-content;
    border: var(--border);
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s all ease;
}
.btn:hover{
    opacity: 0.7;
}
.btn.primary{
    background-color: rgb(0, 121, 234);
    color: white;
    border: none;
}

.title{
    font-size: 30px;
    font-weight: 500;
    color: var(--main-color);
}
.center{
    text-align: center;
}

.small{
    font-size: 15px;
    color: var(--main-color);
}
.small-small{
    font-size: 10px;
    color: var(--main-color);
}
.m-10{
    margin: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}
.ml-10{
    margin-left: 10px;
}
/* FORM STYLE */

.form{
    padding: 50px 100px;
    border: var(--border);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--main-color);
    gap: 20px;
    width: 600px;
}
.form-input{
    padding: 10px;
    font-size: 20px;
    border: var(--border);
    border-radius: var(--radius);
    color: var(--main-color);
    background-color: var(--input-bg-color);
}
.form-input:focus{
    border: none;
    outline: var(--input-outline);
    background-color: var(--input-bg-color-hover);
}



/* GAME STYLE */

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.cell{
    width: 100px;
    height: 100px;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.x .content{
    border-radius: var(--radius);
    background-color: var(--x-color);
    box-shadow: var(--box-shadow-x);
    animation: cell-graw 0.2s cubic-bezier(0.77, 0.49, 0.22, 1.36) forwards;
}
.cell.o .content{
    border-radius: 50%;
    background-color: var(--o-color);
    box-shadow: var(--box-shadow-o);
    animation: cell-graw 0.2s cubic-bezier(0.77, 0.49, 0.22, 1.36) forwards;
}

@keyframes cell-graw{
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 50px;
        height: 50px;
    }
}

/* POPUP STYLE */

.popup-container{
    position: absolute;
    inset: 0;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content{
    padding: 50px 50px;
    border-radius: var(--radius);
    border: var(--border);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    background-color: var(--bg-color);
    animation: graw 0.3s cubic-bezier(0.77, 0.49, 0.22, 1.36) forwards;
    color: var(--main-color);
}


/* INVITE STYLE */

.invite-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
    position: absolute;
    top: 20%;
    left: 0;
    transform: translate(-50%,-50%);
    background-color: var(--bg-color);
    border: var(--border);
    border-radius: var(--radius);
    width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    animation: graw 0.3s cubic-bezier(0.77, 0.49, 0.22, 1.36) forwards;
}
.close-icon{
    position:absolute;
    top: 7px;
    right: 7px;
    color:var(--main-color);
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s all ease;
}
.close-icon:hover{
    color: rgb(255, 0, 81);
}
.invite{
    background-color: var(--invite-bg-color);
    padding: 20px;
    font-size: 10px;
    font-weight: 300;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    gap: 10px;
    cursor: pointer;
    color:var(--main-color);
    transition: 0.3s all ease;
}
.invite:hover{
    background-color: var(--invite-bg-color-hover);
}
.invite-icon{
    font-size: 20px;
}

@keyframes graw{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


/* TOGGLE BTN */
.toggle{
    width: 40px;
    height: 25px;
    border-radius: 200px;
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: var(--toggle-color);
    transition: 0.3s all ease;
}
.toggle-circle{
    height: 23px;
    width: 23px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0.7px;
    background-color: var(--toggle-circle-color);
    transition: 0.1s all ease;
}
.toggle-circle.active{
    left : calc(100% - 23px - 0.7px);
}
.toggle-circle:hover{
    outline: 5px solid rgba(0, 208, 255, 0.199);
}

/* MEDIA QUERIES */

@media (min-width : 400px){
    .invite-container{
        width: 350px;
    }
    .form{
        /* width: 100%; */
        /* padding: 20px; */
    }
}







